
# Ignore build directory
build/
# Ignore build like directory
build*/
# Ignore all files in the build directory
build/*

# Ignore tests build directory
tests/build/

# Sometimes data files are created for tetsing
data/
data/*

# VS Code directory
.vscode/
.vscode/*

# Frontend
frontend/
frontend/*

# DS Store
.DS_Store

# Python
venv/
__pycache__/
*.pyc

# Env
.env

# Huggingface
.cache/
huggingface/

# OS
.DS_Store
Thumbs.db

# Docker
dockerdata/
*.log

# Build
build/
dist/

# VS Code
.vscode/

venv/
rag_project/venv/
.env

# Python
venv/
__pycache__/
*.pyc

# Env
.env

# OS
.DS_Store
Thumbs.db

# HuggingFace cache
.cache/
